.productContainer {
    max-width: 176px;
    min-width: 156px;
    display: flex;
    flex-direction: column;
    gap: 8px;

    .productImage {
        width: 176px;
        height: 174px;
        object-fit: cover;
    }

    p {
        font-size: 14px;
        font-weight: 500;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }

    span {
        font-size: 16px;
        font-weight: 700;
        color: var(--gray-dark);
    }

    div a {
        color: var(--blue);
        text-decoration: none;
        font-weight: 700;
        font-size: 16px;
    }

    &:hover .editArea{
         display: flex;
    }
}

.editArea {
    display: none;
    position: absolute;
    justify-content: flex-end;
    gap: 24px;
    margin-top: 11px;
    margin-left: calc(176px - 67px);
    cursor: pointer;

    img:hover {
        filter: brightness(.9);
    }
}

$layout-breakpoint-medium: 800px;
$layout-breakpoint-small: 430px;
@media (max-width: $layout-breakpoint-medium) {
    .editArea{
        display: flex;
        margin-left: 100px;
   }
}
@media (max-width: $layout-breakpoint-small) {
    .productContainer {
        max-width: 160px;
    }
}