.productContainer {
    max-width: 176px;
    display: flex;
    flex-direction: column;
    gap: 8px;

    p {
        font-size: 14px;
        font-weight: 500;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    span {
        font-size: 16px;
        font-weight: 700;
        color: var(--gray-dark);
    }

    div a {
        color: var(--blue);
        text-decoration: none;
        font-weight: 700;
        font-size: 16px;
    }
}