%flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.headerContainer{
    display: flex;
    max-width: 1136px;
    height: 115px;
    margin: auto;
    align-items: center;
    justify-content: space-between;
    padding: 0 16px;
}

.headerMobile {
    display: none;
}

.LogoSearch{
    display: flex;
    align-items: center;
    gap: 32px;
    width: 50%;

    input{
        width: 100%;
        height: 40px;
        padding: 12px 16px;
        background: var(--gray-light);
        outline: 0;
        border-radius: 50px;
        border: none;
    }

    img {
        cursor: pointer;
    }

}
.lupa {
    margin-left: -64px;
    cursor: pointer;
}

$layout-breakpoint-small: 430px;

@media (max-width: $layout-breakpoint-small) {
    .headerContainer{
        height: 72px;
        padding: 0 16px;
    }
    .LogoSearch, .loginButton {
        display: none;
    }

    .headerMobile {
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: space-between;
    }
}
